<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello AngularJS</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
            <input type="text" ng-model="name">
            <h3>My Name is {{name}}.</h3>
            <ul>
                <li ng-repeat="score in scores">{{score}}</li>
            </ul>
            <h3>{{sayHello}}.</h3>            
            <h3>{{name | convertToMessage}}.</h3>
        </div>
        <h3>My Name is {{name}}.</h3>
    </div>
</body>

</html>